html,
body {
    height: 100%;
	margin: 0;
	padding: 0;
  }

#search {
	height: 100%;
	width: 30%;
	float: left;
	border-width: 50px;
	border-color: black;
	overflow: scroll;
}

#map {
	height: 100%;
	width: 70%;
	float: left;
}

#heading {
	text-align: center;
}

#place-search {
    height: 25px;
    width: 100%;
    border: 1px solid #b9bdc1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #bbb inset;
    box-shadow: 0 2px 4px #bbb inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: scroll;
}
 #place-search {
    background-color: #e7e8e7;
    outline: 0;
    overflow: scroll;
}

 #list-box {
 	height: 200px;
 	width: 100%;
 	border: 1px solid #b9bdc1;
    color: #797979;
    overflow: scroll;
 }
