html, body {
   height: 100%;
    margin: 0;
    padding: 0;
  }

#search{
	height: 100%;
	width: 30%;
	float: left;
	border-width: 50px;
	border-color: black;
}

#map{
	height: 100%;
	width: 70%;
	float: left;
}

#heading{
	text-align: center;
}